/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 /*!
  * Datepicker for Bootstrap
  *
  * Copyright 2012 Stefan Petre
  * Licensed under the Apache License v2.0
  * http://www.apache.org/licenses/LICENSE-2.0
  *
  */
 .datepicker.dropdown-menu {
   top: 0;
   left: 0;
   padding: 4px 10px;
   margin-top: 1px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;

   /*.dow {
     border-top: 1px solid #ddd !important;
   }*/

 }
 .datepicker:before {
   content: '';
   display: inline-block;
   border-left: 7px solid transparent;
   border-right: 7px solid transparent;
   border-bottom: 7px solid #ccc;
   border-bottom-color: rgba(0, 0, 0, 0.2);
   position: absolute;
   top: -7px;
   left: 6px;
 }
 .datepicker:after {
   content: '';
   display: inline-block;
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   border-bottom: 6px solid #ffffff;
   position: absolute;
   top: -6px;
   left: 7px;
 }
 .datepicker > div {
   display: none;
 }
 .datepicker table {
   width: 100%;
   margin: 0;
 }
 .datepicker td,
 .datepicker th {
   text-align: center;
   width: 30px;
   height: 30px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
 }
 .datepicker td.day:hover {
   background: #eeeeee;
   cursor: pointer;
 }
 .datepicker td.day.disabled {
   color: #eeeeee;
 }
 .datepicker td.old,
 .datepicker td.new {
   color: #999999;
 }
 .datepicker td.active,
 .datepicker td.active:hover {
   color: #ffffff;
   background-color: #006dcc;

   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);

   *background-color: #0044cc;
   /* Darken IE7 buttons by default so they stand out more given they won't have borders */

   filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
   color: #fff;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
 }
 .datepicker td.active:hover,
 .datepicker td.active:hover:hover,
 .datepicker td.active:focus,
 .datepicker td.active:hover:focus,
 .datepicker td.active:active,
 .datepicker td.active:hover:active,
 .datepicker td.active.active,
 .datepicker td.active:hover.active,
 .datepicker td.active.disabled,
 .datepicker td.active:hover.disabled,
 .datepicker td.active[disabled],
 .datepicker td.active:hover[disabled] {
   color: #ffffff;
   background-color: #0044cc;
   *background-color: #003bb3;
 }
 .datepicker td.active:active,
 .datepicker td.active:hover:active,
 .datepicker td.active.active,
 .datepicker td.active:hover.active {
   background-color: #003399 \9;
 }
 .datepicker td span {
   display: block;
   width: 47px;
   height: 54px;
   line-height: 54px;
   float: left;
   margin: 2px;
   cursor: pointer;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
 }
 .datepicker td span:hover {
   background: #eeeeee;
 }
 .datepicker td span.active {
   color: #ffffff;
   background-color: #006dcc;
   background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
   background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
   background-image: -o-linear-gradient(top, #0088cc, #0044cc);
   background-image: linear-gradient(to bottom, #0088cc, #0044cc);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
   border-color: #0044cc #0044cc #002a80;
   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
   *background-color: #0044cc;
   /* Darken IE7 buttons by default so they stand out more given they won't have borders */

   filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
   color: #fff;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
 }
 .datepicker td span.active:hover,
 .datepicker td span.active:focus,
 .datepicker td span.active:active,
 .datepicker td span.active.active,
 .datepicker td span.active.disabled,
 .datepicker td span.active[disabled] {
   color: #ffffff;
   background-color: #0044cc;
   *background-color: #003bb3;
 }
 .datepicker td span.active:active,
 .datepicker td span.active.active {
   background-color: #003399 \9;
 }
 .datepicker td span.old {
   color: #999999;
 }
 .datepicker th.switch {
   width: 145px;
 }
 .datepicker th.next,
 .datepicker th.prev {
   font-size: 21px;
 }
 .datepicker thead tr:first-child th {
   cursor: pointer;
 }
 .datepicker thead tr:first-child th:hover {
   background: #eeeeee;
 }
 .input-append.date .add-on i,
 .input-prepend.date .add-on i {
   display: block;
   cursor: pointer;
   width: 16px;
   height: 16px;
 }


 /* Dropdown style*/
 .bootstrap-select.btn-group .dropdown-menu li a{
    padding: 5px 15px;
    display: block;
 }

 @font-face {
    font-family: Airglyphs;
    src: url("https://a1.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-a65ed58b98acfb02d9b2fca8d3592596.eot");
    src: url("https://a2.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-ie8-46394bc8d75742d1bbce6f07cf93442a.eot?#") format("eot"),url("https://a1.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-701f40935e70e54947e28932ff4c09cc.woff") format("woff"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-a53b457a3b30a4598620986b60e9f6f5.ttf") format("truetype"),url("https://a2.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-0d3bc31ac819a08e187d636e6ecddd8c.svg") format("svg");
    font-weight: normal;
    font-style: normal
}
.icon {
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.icon:before {
    line-height: 1;
}
.icon:before {
    font-family: Airglyphs, sans-serif;
}
.icon-size-2 {
    font-size: 2em;
}
.icon-entire-place:before {
    content: '\f165';
}
.icon-rooms:before {
    content: '\f1ce';
}
.icon-group:before {
    content: '\f180';
}
.icon-double-bed:before,
.icon-king-bed:before,
.icon-queen-bed:before {
    content: '\f15f';
}

 /*Card*/
 .listing-house{
    padding-top: 30px;
    padding-bottom: 30px;
 }
 .card.card-house{
      -webkit-box-shadow: 0px 0px 21px 5px rgba(240,240,240,0);
      box-shadow: 0px 0px 21px 5px rgba(240,240,240,0);
      -webkit-border-radius: 0px;
      border-radius: 0px;
      border: 0;
      margin-bottom: 30px;
      -webkit-transition: all 800ms ease;
      transition: all 800ms ease;
 }

.card.card-house:hover,
.card.card-house:focus{
  -webkit-box-shadow: 0px 0px 21px 5px rgba(240,240,240,1);
  box-shadow: 0px 0px 21px 5px rgba(240,240,240,1);
}


 .card.card-house .image{
   -webkit-border-radius: 0px;
   border-radius: 0px;
   height: 300px;
   position: relative;
 }
 .card.card-house .image .price{
    background: rgba(0, 0, 0, 0.5);

    color: #fff;
    font-size: 10px;
    padding: 5px 15px;

    text-align: center;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    position: absolute;
    bottom:0 ;
    right: 0;
    z-index: 3;

 }
 .card.card-house .image .price span.value{
   display: block;
   font-size: 30px;
    line-height: 1.1;
 }
 .card.card-house .image .price span.currency{
   display: block;
   font-size: 10px;
 }


 .card.card-house .title { font-size: 18px; font-weight: 600;}
 .card.card-house .infos { margin-top: 15px;  margin-bottom: 15px;}
 .card.card-house .infos label { font-size:12px; color: #4A4A4A; }
 .card.card-house .list-info p{ margin-top: 15px; }

 .card.card-house .card-rate { font-size:12px; color: #4A4A4A; margin-top: 15px;}
 .card.card-house .card-rate .reviews { padding-left: 15px; }
 .card.card-house .card-rate .rate .fa { padding-right: 2px;}

 .card-house .progress{
    height: 8px;
    margin-bottom: 5px;
    box-shadow: 0 0 0;
 }
 .card-house .progress-bar {
     float: left;
     width: 0;
     height: 100%;
     font-size: 12px;
     line-height: 20px;
     color: #fff;
     text-align: center;
     background-color: #337ab7;
     box-shadow: 0 0 0;
     -webkit-border-radius: 3px;
     border-radius: 3px;
     -webkit-transition: width .6s ease;
     -o-transition: width .6s ease;
     transition: width .6s ease;
 }

.card-house .progress-bar-info{
    background: #FFC845;
}
.card-house .statistics{
   margin-top: 10px;
}
.card-house .statistics span{
   display: block;
   font-size: 10px;
   line-height: 1;
   margin-top: 5px;
}
.card-house .statistics .static{
  text-align: center;
}

.card-house .btn-fill{
    background: #7ED321;
    color: #fff;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    line-height: 1;
    border:0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.card-house .btn-fill:hover,
.card-house .btn-fill:active,
.card-house .btn-fill:focus
{
    background: #75C41E;
      color: #fff;

}

@media (min-width:992px) {

    .card-house .btn-fill{
       margin-top: 5px;
       margin-bottom: 5px;
    }

    #house-map{
       margin-top:30px;
       -webkit-transition: all 500ms ease;
       transition: all 500ms ease;
    }




}

@media (min-width:1200px) {
      body.mapsticky #house-map{
            position:fixed !important;
            top:50px!important;
            right:0!important;
            width: 550px!important;
            z-index:1200!important;
            margin-top:0;
            border:2px solid #efefef;
      }

      body.mapsticky .search-options {
            background: #efefef none repeat scroll 0 0;
            left: 0;
            position: fixed;
            top: 50px;
            width: 63%;
            z-index: 1100;
      }
      body.mapsticky .navbar-inverse .navbar-brand {
            width: 80px;
      }
      body.mapsticky .navbar-inverse .navbar-brand img{
            width: 100%;
      }
}
