/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.card .header {
    padding: 20px 0px 0;
}
.card .content{
  padding-left: 0;
}
.card .content > .row { margin-top: 10px;}
.card label{
  display: block;
}
